@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* About us banner section */
#banner {
  background: url("../assets/Hero\ section.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}
#banner > div > div {
  max-width: 236px;
  margin: 0 auto;
}
#banner h1 {
  font-size: 40px;
}
.b-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

/* Who we are section */
.who-wrp {
  max-width: 1260px;
  margin: 0 auto;
}
.who-img {
  max-width: 428px;
}
.who-img > img {
  width: 100%;
  object-fit: contain;
}
.who-contnet > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.who-contnet > div:first-child > span > :last-child {
  font-size: 20px;
  font-weight: 700;
}
.who-contnet > div.title {
  margin-bottom: 16px;
}
.who-contnet > p {
  margin-bottom: 29px;
  color: #666666;
}
.who-contnet > div:nth-child(4) {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 52px;
}
.who-contnet > div:nth-child(4) > div:first-child {
  height: 40px;
  width: 2px;
  background-color: #543ad7;
}
.who-contnet > div:nth-child(4) > div > div {
  color: #333333;
  font-size: 22px;
}
.who-contnet > div:nth-child(4) > div > p {
  color: #666666;
}
.k15 {
  display: flex;
  gap: 11px;
  align-items: center;
}
.k15-content > h3 {
  color: #543ad7;
  margin-bottom: 3px;
}

/* Commitment section */
.commit-wpr {
  max-width: 1260px;
  margin: 0 auto;
}
.commit-content > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.commit-content > div:first-child > span:last-child {
  font-weight: bold;
  color: #3d3d3d;
  font-size: 20px;
}
.commit-content > div.title {
  margin-bottom: 15px;
}
.commit-wpr > div.row {
  align-items: center;
}
.commit-content > p {
  color: #666666;
  margin-bottom: 30px;
}
.visions > h4,
.mission > h4 {
  color: #333333;
}
.visions > p,
.mission > p {
  color: #666666;
  margin-top: 13px;
}
.commit-img {
  max-width: 564px;
  margin: 0 auto;
}
.commit-img > img {
  width: 100%;
}

/* Real estate team */
.rel-team-wrp {
  max-width: 1260px;
  margin: 0 auto;
}
.rel-team-top {
  max-width: 447px;
  margin: 0 auto 41px;
  text-align: center;
}
.rel-team-top > div:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.rel-team-card {
  position: relative;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 11px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: white;
}
.rel-team-card h4 {
  margin-bottom: 6px;
}
@media screen and (max-width: 992px) {
  /* Who we are section */
  .who-sec .col-50 {
    width: 100%;
  }
  .who-img {
    margin: 0 auto 30px;
  }

  /* Commitment section */
  .commit-wpr > div > div.col-50 {
    width: 100%;
  }
  .commit-wpr > div {
    flex-direction: column-reverse;
  }
  .commit-img {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 576px) {
  /* Who we are section */
  .who-contnet > div.title {
    font-size: 22px;
  }
  .who-contnet .row {
    flex-direction: column;
    gap: 30px;
  }
  .who-contnet .col-33 {
    width: 100%;
  }

  /* Commitment section */
  .visions > p,
  .mission > p {
    font-size: 13px;
  }
  .commit-content > div.title {
    font-size: 22px;
  }
  .commit-content > p {
    font-size: 14px;
  }
  .commit-content > div:first-child > span:last-child {
    font-size: 16px;
  }
  /* Real estate section */
  .rel-team-top > div.title {
    font-size: 22px;
  }
}
